@font-face {
    font-family: "inter";
    src: url(../fonts/Inter/static/Inter-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "inter";
    src: url(../fonts/Inter/static/Inter-Bold.ttf);
    font-weight: 700;
}
